.product-list {
  padding: ($base-size * 3) 0;
}

.product {
  margin: ($base-size * 0.5) 0;
  padding: ($base-size * 6) ($base-size * 4);
  background: #f2edd1;
  border: 3px solid #333 ;
  border-radius: $radius;

  &__header {
    @include flex(row, center, space-between);
    margin-bottom: ($base-size * 2);
    font-family: $font-header;
    font-size: 22px;
    cursor: pointer;
    width:90%;
  }
/* New */
  .product__favourite {
    display:flex;
    width: 10%;
    float:left;
    flex-direction: row;

    .add-fav {
      display: inline-block;
      padding: 5px;
      cursor: pointer;
      border: 1px solid #ccc;
      background: -webkit-linear-gradient( top,#fff,#ddd) #ddd;
      position: relative;
      transition: all .5s ease;
      border-radius: 3px;
      box-shadow: inset 0 -1px 1px #eee;

      &:hover {
        background: -webkit-linear-gradient( top,#fff,#ccc) #ddd;
      }

      .fa-star {
        font-size: 24px;
        color: #666;
        position: relative;
        transition: all .5s ease-in-out;
      }
      .fa-circle-plus {
        font-size: 10px;
        color: #333;
        background: #fff;
        border-radius: 100%;
        position: absolute;
        bottom: 2px;
        right: 2px;
        height: 11px;
        width: 11px;
        line-height: 11px;
        text-align: center;
        transition: all 1s ease-in-out;
      }
      input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        &:checked + .fa-star {
          color: orange;
          .fa-circle-plus {
            display:none;
          }
        }
      }
    }
  }
/* END OF NEW */

  &__name {
    position: relative;
    margin: 0;
    font-weight: $font-semibold;
    text-transform: uppercase;
  }

  &__icon {
    position: absolute;
    color: $color-main;
    right: (-$base-size * 5);
    top: $base-size;
    font-size: ($base-size * 1.5);
    transition: $transition;
  }

  &__base-price {
    font-weight: $font-light;
  }

  &__description {
    color: lighten($color-dark, 10%);
  }

  &__wrapper {
    @include flex(row, center, space-between);
    @include accordion-closed();
    animation: flipdown 0.5s ease both;
  }

  &__params {
    margin: 0 0 ($base-size * 3) 0;
    padding: 0;
    list-style-type: none;
  }

  &__params-title {
    font-size: 14px;
    font-weight: $font-bold;
    text-transform: uppercase;
    margin: ($base-size * 2) 0;
  }

  &__order {
    width: calc(100% - 400px);
    opacity: 0;
    transition: opacity 200ms;
  }

  &__total-price {
    font-size: 14px;
    font-weight: $font-bold;
    text-transform: uppercase;
  }

  &__images {
    position: relative;
    width: 350px;
    height: 350px;
    opacity: 0;
    transition: opacity 200ms;

    .bigimage {
      width: 330px;
      height: 330px;
    }

    &.small {
      width: 220px;
      height: 220px;
    }

    > img {
      @include center();
      height: auto;
      opacity: 0;
      transition: opacity 500ms;

      &.active {
        opacity: 1;
      }

    }

  }

  &.active {
    .product__wrapper {
      @include accordion-open();
    }

    .product__order, .product__images {
      opacity: 1;
    }

    .product__icon {
      transform: rotate(180deg);
    }

  }

}

.widget-amount {
  input {
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 0 ($base-size * 0.5);
    padding: 0;
  }

}